* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

section {
    height: 500px;
    background-color: white;
    
}

.hero {
    background-color: #1c1d25;
    height: 100vh;
    color: white;
    font-size: 40px;
}


footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 80px;

}

nav {
    display: flex;
    justify-content: space-between;
}

.logo {
    margin-top: 20px;
    margin-left: 60px;
    font-size: 70px;
}
    


ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    margin-right: 60px;
   
}

ul.show {
    display: block;
}

li {
    margin-right: 30px;
    font-size: 30px;
}


h1 {
    font-size: 90px;
    margin: 0;
}

h2 {
    font-size: 60px;

}

p {
    margin: 0;
    font-weight: 300;
    font-size: 30px;
}

.hero-area {
    display: flex;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}


/* .hero-text { */
    /* margin: 80px; */
    /* margin-bottom: 200px; */
    
/* } */

.button {
    width: 200px;
    height: 55px;
    border-radius: 25px;
    background-color: coral;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    padding-top: 5px;
    margin-top: 20px;

}

.button:hover {
    background-color: #ef744b;
}

.button:active {
    background-color: #A9A9A9;
    color: #808080;
}

.socials {
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 40px;
}

.social {
 margin-top: 50px;

}


.sub-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 80px;
}

.sub-section-alt{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
    height: auto;

}

.headshot-container {
    display: flex;
    align-items: center;
    margin: 10px;  
    
}

.headshot {
    border-radius: 100%;
    width: 350px;
    height: 350px;
    object-fit: cover;
    
}

.project-card {
    width: 300px;
    height: 400px;
    box-shadow: 5px 5px 20px rgb(194, 193, 193);
}

.project-container {
    display: flex;
    justify-content: space-around;
    margin: 30px;
    
    
} 
@media only screen and (max-width: 1300px) {
    .project-container {
        display: flex;
        flex-wrap: wrap;
        margin: 30px;
    }
}

.subtext {
    font-size: 15px;
    font-weight: 300;
    
}


.project-link {
    text-decoration: none;
    color: black;
}


.project-img {
    margin-top: 25px;
    width: 250px;
    border-radius: 125px;
}

hr {
    margin: 10px 20px;
}

a {
    text-decoration: none;
    color: white;
}

.hamburger {
  display: none;
}

@media only screen and (max-width:1000px) {
    .hamburger {
        display: block;
        border: 0;
        background-color: transparent;
        color: white;
        font-size: 30px;
        margin: 20px;
        align-self: flex-end;
    }

    ul {
        display: none;
        background-color: #2b2d39;
        margin: 0;
    }

    nav {
        display: flex;
        flex-direction: column-reverse;
        background-color: #2b2d39;
        text-align: center;
    }

    .logo {
        display: none;
    }

    .hero-area {
            display: flex;
            flex-direction: column;
            align-content: center;
            text-align: center;
            margin-top: 100px;
            
        }
    .socials {
            display: flex;
            flex-direction: row;
            margin-bottom: 200px;
           
        } 
    .social {
            margin-left: 30px;
        }
    .hero-text {
        display: flex;
        flex-direction: column;
        align-items: center;


        }
    

    
}

